extends layout

block mainContent
  article
    input#qid(type='hidden', value='#{question._id}')
    section.question-box
      .question-vote.row
        - var voteUp = question.voteUp ? question.voteUp : 0
        - var voteDown = question.voteDown ? question.voteDown : 0
        span.votecount(title='투표 수') #{voteUp - voteDown}
        form
          button.btn.btn-small.btn-success
           i.icon-plus
           | &nbsp;
           i.icon-plus
           span ;
          button.btn.btn-small.btn-danger
           i.icon-minus
           | &nbsp;
           i.icon-minus
           span ;
      a(href='#')
        h3= question.title
      .clear
      .socialbox.row
        ul.unstyled
          li
            g:plusone(size='medium').social
          li
            .fb-like(data-layout='button_count', data-send='false', data-width='100', data-show-faces='false').social
          li
            a(href='https://twitter.com/share', data-hashtags='curlybrace').twitter-share-button.social Tweet
      .question-text !{question.renderedContents}
      .row
        ul.unstyled.tags
          each tag in question.tags
            li.tag
              a(href="/tags/#{tag}").btn.btn-mini
                i.icon-tag
                |  #{tag}
        .author
          a(href='/users/#{question.author.id}')
            img.profile(src='#{question.author.profileImage}', alt='profile image for #{question.author.nickname}', title='profile image for #{question.author.nickname}', width='40', height='40')
          a(href='/users/#{question.author.id}') #{question.author.nickname}
          time(title="#{question.regDateformatted}") #{question.regDateFromNow}
      .submenu.row
        .commentMessage
          a(href='#').btn.btn-info.btn-mini
            i.icon-comment
            |  0개의 댓글
        ul.unstyled
          li
            a(href='#').btn.btn-info.btn-mini
              i.icon-share
              |  퍼머링크: #{url}/question/#{question._id}
          li
            a(href='#').btn.btn-info.btn-mini
              i.icon-edit
              |  수정
      .commentsWrap.row
        .comments-list
        - if (question.comments)
          each comment in question.comments
            .comment
              .profile
                a(href='/users/#{comment.author.id}')
                  img(src='#{comment.author.profileImage}', alt='profile image for #{comment.author.nickname}', title='profile image for #{comment.author.nickname}', width='35', height='35')
              span
                b.author
                  a(href='/users/#{comment.author.id}') #{comment.author.nickname}
                | !{comment.contents}
                time 2일 전
        .comment.comment-write
          .profile
            a(href='/users/#{user.id}')
              img(src='#{user.authInfo[user.defaultProvider].profileImage}', alt='profile image for #{user.nickname}', title='profile image for #{user.nickname}', width='35', height='35')
          form.commentForm
            textarea.input-xlarge(rows='2')
            input(type='submit', value='댓글 작성').btn.btn-primary.submit-btn.pull-right
    - if (question.answers)
      each answer in question.answers
        section.answer-box(id=answer.id)
          .row.answer-contents
            .voting-box.pull-right
              .answer-vote
                - var voteUp = answer.voteUp ? answer.voteUp : 0
                - var voteDown = answer.voteDown ? answer.voteDown : 0
                span.votecount(title='투표 수') #{voteUp - voteDown}
                form
                  button.btn.btn-small.btn-success
                    i.icon-plus
                    | &nbsp;
                    i.icon-plus
                    span ;
                  button.btn.btn-small.btn-danger
                    i.icon-minus
                    | &nbsp;
                    i.icon-minus
                    span ;
              .socialbox
                ul.unstyled
                  li
                    a(href='https://twitter.com/share', data-hashtags='curlybrace').twitter-share-button.social Tweet
                  li
                    .fb-like(data-layout='button_count', data-send='false', data-width='200', data-show-faces='false').social
                  li
                    g:plusone(size='medium').social
            .answer-text !{answer.contents}
          .row
            .author
              a(href='/users/#{answer.author.id}')
                img.profile(src='#{question.author.profileImage}', alt='profile image for #{answer.author.nickname}', title='profile image for #{answer.author.nickname}', width='40', height='40')
              a(href='/users/#{answer.author.id}') #{answer.author.nickname}
              time(title="#{answer.regDateformatted}") #{answer.regDateFromNow}
          .submenu.row
            .commentMessage
              a(href='#').btn.btn-info.btn-mini
                i.icon-comment
                |  0개의 댓글
            ul.unstyled
              li
                a(href='##{answer.id}').btn.btn-info.btn-mini
                  i.icon-share
                  |  퍼머링크: #{url}/question/#{question._id}##{answer.id}
              li
                a(href='#').btn.btn-info.btn-mini
                  i.icon-edit
                  |  수정
          .commentsWrap.row
            .comments-list
            - if (answer.comments)
              each comment in answer.comments
                .comment
                  .profile
                    a(href='/users/#{comment.author.id}')
                      img(src='#{comment.author.profileImage}', alt='profile image for #{comment.author.nickname}', title='profile image for #{comment.author.nickname}', width='35', height='35')
                  span
                    b.author
                      a(href='/users/#{comment.author.id}') #{comment.author.nickname}
                    | !{comment.contents}
                    time 2일 전
            .comment.comment-write
              .profile
                a(href='/users/#{user.id}')
                  img(src='#{user.authInfo[user.defaultProvider].profileImage}', alt='profile image for #{user.nickname}', title='profile image for #{user.nickname}', width='35', height='35')
              form.commentForm
                input.aid(type='hidden', value='#{answer.id}')
                textarea.input-xlarge(rows='2')
                input(type='submit', value='댓글 작성').btn.btn-primary.submit-btn.pull-right
    .answer-write-box
      .answer-write
        .alert.alert-info 이 질문에 답변해 주세요.
        form(method='POST', action='/question/#{question._id}/answer')
          textarea(name='contents')
          input(type='submit', value='답변 작성').btn.btn-primary.submit-btn.pull-right

block templates
  script#commentsTmpl(type='text/x-handlebars-template')
    {{#each results}}
    .comment
      .profile
        a(href='/users/{{this.author.id}}')
          img(src='{{this.author.profileImage}}', alt='profile image for {{this.author.nickname}}', title='profile image for {{this.author.nickname}}', width='35', height='35')
      span
        b.author
          a(href='/users/{{this.author.id}}') {{this.author.nickname}}
        | {{this.contents}}
        time {{this.regDateFromNow}}
    {{/each}}